:root {
  --glue-red: #eb1c24;
}

body {
  margin: 0;
  background-color: $bg_color;
}

model-viewer {
  width: 100%;
  height: 100%;
}

/* This keeps child nodes hidden while the element loads */
:not(:defined) > * {
  display: none;
}
.ar-button {
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #f5c6c888;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 60pt;
  font-weight: bold;
  color: var(--glue-red);
  height: 200px;
  width: max(300px, 80%);
  border-radius: 18px;
  border: 5px solid var(--glue-red);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.ar-button:active {
  background-color: #E8EAED;
}
.ar-button:focus {
  outline: none;
}
.ar-button:focus-visible {
  outline: 1px solid #1f5ef1;
}
.info {
  display: block;
  position: absolute;
  font-family: Futura, Helvetica Neue, sans-serif;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  font-size: 18px;
  max-width: 128px;
  padding: 0.5em 1em;
  background: #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  left: calc(100% + 1em);
  top: 50%;
}

h3 {
  color: $fg_color;
}

#layer-controls {
  position: relative;
  top: 20px;
  left: 20px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid $fg_color;
  border-radius: 5px;
  background-color: transparent;
}

#layer-controls:empty {
  display: none;
}

#layer-controls button {
  width: 100%;
}
